/* Estilos globales */
:root {
  --color_white: #fff;
  --color_black: #000;
  --color_green: #a2d9bc;
  --color_blue: #017bc9;
  --color_gray: #6666669e;
  --color_light-gray: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rethink Sans", sans-serif;
  background-color: #8d8c8c7e;
  color: #333;
}

a {
  text-decoration: none;
  transition: color 0.3s ease; /* Transición suave */
}

.main {
  display: grid;
  gap: 15px;
  justify-content: center;
}

/* Header (Bloque) */
.header {
  background-color: var(--color_blue);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-icon {
  height: 40px;
  margin-right: 10px;
}

.header__logo-text {
  font-weight: bold;
  color: var(--color_white);
}

.header__nav {
  display: flex;
}

.header__nav-link {
  margin: 0 15px;
  color: var(--color_white);
}

.header__nav-link:hover {
  color: #ddd;
}

/* Hero (Bloque) */
.hero {
  position: relative;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/Img/Imagen_Fondo.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #fff;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__content {
  background-color: var(--color_gray);
  padding: 20px;
  border-radius: 10px;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--color_white);
}

.hero__description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--color_white);
}

/* Button (Bloque) */
.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button--primary {
  background-color: #007bff;
  color: white;
}

.button--primary:hover {
  background-color: #0056b3;
}

/* Section (Bloque) */
.section {
  padding: 50px 30px 40px;
  max-width: 1200px;
  width: 100%;
}

.section__title {
  text-align: center;
  margin-bottom: 20px;
}

.section--about .section__cards,
.section--methodology .section__cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.section--methodology {
  background: -webkit-linear-gradient(
    top,
    rgba(77, 158, 234, 0.7) 0%,
    rgba(1, 123, 201, 0.83) 44%,
    rgba(1, 123, 201, 1) 100%
  );
  margin-bottom: 45px;
}
/* Card (Bloque) */

.card {
  background: -webkit-linear-gradient(
    top,
    rgba(77, 158, 234, 0.7) 0%,
    rgba(1, 123, 201, 0.83) 44%,
    rgba(1, 123, 201, 1) 100%
  );
  padding: 20px;
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px 0px 20px 0px;
}

.card__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--color_white);
  padding: 20px;
}

.card__description {
  font-size: 1.2rem;
  color: var(--color_white);
}

/* Contact (Bloque) */

.footer {
  background-color: var(--color_black);
  color: var(--color_white);
  height: auto;
  display: grid;
  justify-content: center;
  align-items: end;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Diseño responsivo */
  max-width: 1200px;
  width: 100%;
  height: 150px;
  gap: 20px;
}

.contact__tittle{
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
}

.contact__info {
  display: grid;
  justify-content: center;
  gap: 20px;
  align-content: center;
  font-size: 1.1rem;
}

.footer__page--cake {
  display: grid;
  text-align: center;
  align-items: center;
  height: 50px;
}

/* Responsive para pantallas medianas (tablets) */

@media (max-width: 992px) {
  .header__container, .section, .contact {
    max-width: 100%;
    padding: 0 15px;
  }

  .header__nav-link {
    margin: 0 10px;
  }

  .section {
    padding: 50px 30px 40px;
    max-width: 1200px;
    width: 100%;
  }

  .section--about .section__cards,
  .section--methodology .section__cards {
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .contact {
    padding-top: 10px ;
    grid-template-columns: 1fr;
    height: auto;
  }

  .footer__page--cake {
    display: grid;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 15px;
  }
}

/* Responsive para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .header {
    padding: 8px 0;
  }

  .header__nav {
    display: none;
  }

  .header__logo-icon{
    height: 60px;
    margin-right: 10px;
  }

  .header__logo-text{
    font-size: 1.8rem;
  }

  .hero {
    min-height: calc(100vh - 50px);
    padding: 20px;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .hero__description {
    font-size: 0.9rem;
  }

  .section {
    padding: 40px 20px;
  }

  .card {
    padding: 15px;
    border-radius: 10px;
  }

  .contact {
    padding-top: 10px ;
    grid-template-columns: 1fr;
    height: auto;
  }

  .contact__tittle {
    font-size: 1.5rem;
    text-align: center;
  }

  .contact__info {
    font-size: 1rem;
    text-align: center;
  }

  .footer__page--cake {
    display: grid;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 15px;
  }
}